//tipografia
$lato: 'Lato', sans-serif;
//weight
$lato-weight-regular: 400;
$bold: 700;
 
//font-size
$font-size-xxx-large: 40px;
$font-size-xx-large: 30px;
$font-size-x-large: 20px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-x-small: 12px;
 
$primary-font: $lato;