.header{
    &_img{
        width:100%;
        height: 50vh;
        object-fit: cover;
        @include for-phone-only{
            height: 20vh;
        }
        @include for-tablet-portrait-up{
            height: 20vh;
        }
    }
}